.advantages {
  min-height: 1003px;
  padding-top: 16px;
}

.advantages__wrapper {
  background-color: @bc-light;
}

.advantages__item--pink-smile {
  min-height: 442px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: 52px 164px;
}

.advantages__list {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 91px;
  display: flex;
  flex-direction: column;
}

.advantages__slogan {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  margin-top: 22px;
  margin-bottom: 0;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 15px;
}

.advantages__description {
  font-size: 14px;
}

.advantages__img {
  display: none;
}

.advantages__effect {
  display: none;
  text-align: left;
}

.advantages__effect-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  width: 168px;
}

.advantages__effect-link {
  color: @cc-pink;
}

@media (min-width: @tablet-width) {
  .advantages__slogan {
    font-size: 40px;
    line-height: normal;
    text-align: center;
    margin: 0;
  }

  .advantages {
    min-height: 1107px;
    padding-top: 40px;
  }

  .advantages__list {
    min-height: 427px;
    padding-left: 301px;
    padding-right: 10px;
    text-align: left;
    justify-content: center;
  }

  .advantages__item--pink-smile {
    background: none;
    min-height: 139px;
  }

  .advantages__effect {
    display: flex;
    flex-direction: column;
    min-height: 293px;
    padding-left: 329px;
    padding-top: 53px;
  }

  .advantages__effect-title {
    margin-bottom: 0;
  }

  .advantages__effect-text {
    margin: 10px 25px 10px 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 58px;
  }


  .advantages__slogan {
    font-size: 50px;
    line-height: normal;
    text-align: center;
    margin: 0;
    margin-bottom: -13px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0;
    padding-top: 336px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .advantages__wrapper {
    padding: 0 158px;
    margin: 0 auto;
    background-color: @bc-light;
  }

  .advantages__smile-img {
    display: none;
  }

  .advantages__img {
    display: inline;
  }

  .advantages__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    width: 222px;
    margin: 47px auto 25px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    width: 240px;
  }

  .advantages__effect {
    min-height: 417px;
    padding-left: 340px;
    justify-content: center;
    padding-top: 0;
  }

  .advantages__effect-title {
    line-height: 30px;
    width: auto;
  }

  .advantages__effect-text {
    font-size: 18px;
    line-height: 30px;
    margin: 24px 18px 30px 0;
  }

  .advantages__effect-link {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;

  }
}
