.button {
  padding: 20px 39px 17px 40px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: @bc-light;

  border: solid 3px @bc-light;
  border-radius: 30px;
}

.button-download:hover {
  box-shadow: 0 5px 7px 0 #010101c0;
  border: solid 3px @bc-light;
  background-color: @bc-light;
  color: @cc-pink;
}

.button-download:active {
  color: rgba(210, 40, 86, 0.3);
}


.button--pink {
  color: @cc-pink;
  border: solid 3px @cc-pink;
}

.button--pink:hover {
  background-color: @cc-pink;
  color: @bc-light;
  border: solid 3px @cc-pink;
}

.button--pink:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--cancel {
  opacity: 0.1;
  border: solid 3px @bc-dark;
  color: @bc-dark;
}

.button--cancel:hover {
  opacity: 0.3;
  border: solid 3px @bc-dark;
  color: @bc-dark;
}

.button--cancel:active {
  opacity: 0.3;
  border: solid 3px @bc-dark;
  color: @bc-light;
  background-color: @bc-dark;
}
