
.card {
  text-align: left;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card__author-name {
  font-weight: 700;
  font-style: normal;
}

.card__time {
  font-size: 12px;
  font-weight: 300;
}

.card__text {
  margin: 0;
}

.card__likes {
  font-size: 12px;
  color: @cc-pink;
  padding-top: 20px;
}

.card__wrapper {
  background-color: @bg-lightgrey;
  width: 280px;
  min-height: 112px;

  padding: 19px 17px;
}

.card__wrapper--hit {
  padding: 10px 14px;
  min-height: 186px;
}

.card__img {
  margin-top: 20px;
}

.card__img--hit {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card {
    width: 300px;
    min-height: 475px;
  }

  .card__wrapper--hit {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .card {
    min-height: 610px;
  }

}
