.contacts__item {
  display: flex;
  flex-direction: column;
  padding: 27px 25px 25px 0;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

.contacts__text {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}

.contacts__value {
  margin-top: 9px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: @cc-pink;
}

.contacts__link:hover {
  color: @bc-dark;
}

.contacts__link:active {
  opacity: 0.3;
}
