.editor {
  text-align: center;
}

.editor-wrapper {
  background-color: @bg-lightgrey;
  padding: 20px;
}

.range-control__toggle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px @cc-pink;
  background-color: @bc-light;
  position: absolute;
  top: -6px;
  left: 75%;
}

.range-control {
  margin: 20px;
  width: 240px;
  height: 2px;
  background-color: @bc-dark;
  position: relative;
}
