
.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 18px;
  min-height: 284px;
}

.page-footer--index {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 127px;
  }

  .page-footer__logo {
    margin-left: 20px;
    margin-bottom: 11px;
  }

  .page-footer__text {
    padding-right: 58px;
  }

  .page-footer__copyright {

  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 197px;
    justify-content: space-around;
  }

  .page-footer__text {
    font-size: 18px;
    line-height: 18px;
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: 21px;
  }



}
