.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 18px;
  min-height: 284px;
  width: 320px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 23px;
}

.page-footer--index {
  display: none;
}

.page-footer__copyright {
  padding-right: 0;
  display: flex;
  margin: 0 auto;
}

.page-footer__link {
  padding-top: 0;
}

.page-footer__link:hover .logo__academy {
  fill: @cc-pink;
}

.page-footer__logo:hover .page-footer__svg {
  fill: @cc-pink;
}

.page-footer__text {
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 10px;
}

.page-footer__svg-academy {
  fill: @cc-pink;
}

.page-footer__link .page-footer__svg-academy:hover {
  fill: @bc-dark;
}

.page-footer__svg {
  fill: @bc-dark;
}

.page-footer__svg--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    width: @tablet-width;
    padding: 0;
    background-color: @bc-light;
  }

  .page-footer__logo {
    margin-left: 20px;
    margin-bottom: 16px;
  }

  .page-footer__text {
    padding-right: 7px;
    margin-top: 14px;
  }

  .page-footer__link {
    padding-top: 0;
  }

  .page-footer__copyright {
    padding-right: 13px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 197px;
    justify-content: space-around;
    width: @desktop-width;
    margin: 0 auto;
    padding-top: 3px;
  }

  .page-footer__link {
    padding-top: 0;
  }

  .page-footer__text {
    font-size: 18px;
    line-height: 18px;
    padding-right: 5px;
    margin-top: 18px;
  }

  .page-footer__logo {
    margin-right: 35px;
    margin-left: 27px;
    margin-bottom: 10px;
  }

  .page-footer__logo--index {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .page-footer--index .social {
    padding-top: 0;
  }

  .page-footer__copyright {
    padding-right: 21px;
    padding-top: 6px;
    align-items: flex-end;
  }

  .page-footer__svg--desktop {
    display: block;
  }

  .page-footer__svg--mobile {
    display: none;
  }
}
