.page-header {
  color: @bc-light;
  padding: 36px 46px 36px 48px;
}

.page-header__slogan {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-header__slogan {
    font-size: 50px;
    line-height: normal;
  }

  .page-header {
    min-height: 348px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 270px;
  }
}
