.photo__intro {
  min-height: 184px;
  line-height: 30px;
  padding: 0 35px 5px;
  margin: 0;
  background-color: @bc-light;
  display: flex;
  align-items: center;
}

.photo__slogan {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: #ffffff;
  width: 300px;
  margin: auto;
  margin-top: 26px;
}

.photo__list {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .photo__slogan {
    font-size: 50px;
    line-height: 60px;
    width: 600px;
    margin: 71px auto;
  }

  .photo {
    text-align: center;
  }

  .photo__intro {
    min-height: 226px;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 13px 45px 0;
  }

  .photo__item--hit {
    min-height: 681px;
  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .photo__list {
    width: 940px;
    margin: 0 auto;
  }

  .photo__slogan {
    margin: 79px auto;
  }

  .photo__intro {
    min-height: 241px;
    padding: 0 284px;
  }

  .photo__item--hit {
    min-height: 652px;
  }
}
