.reviews {
  min-height: 328px;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}

.reviews__list {
  margin-left: 20px;
  margin-right: 22px;
  padding-top: 26px;
  line-height: 30px;
}

.reviews__item {
  display: none;
}

.reviews__item--show {
  display: block;
}

.reviews__profy {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    //min-height: 393px;
    min-height: 279px;
  }

  .reviews__wrapper {
    width: @tablet-width;
    margin: 0 auto;
  }

  .reviews__list {
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 18px;
  }

  .reviews__item--show {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 37px;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__profy {
    display: inline;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    min-height: 392px;
    padding-top: 136px;
    background-image: url("../img/icon-quotes.svg");
    background-size: 80px 63px;
    background-repeat: no-repeat;
    background-position: 50% 72px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__wrapper {
    width: 735px;
  }

  .reviews__toggle {
    display: none;
  }

  .reviews__profy {
    font-size: 18px;
    line-height: 30px;
  }
}
