.site-header {

}

.site-header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.site-header__logo {
  padding: 22px;
  min-height: 69px;
  position: relative;
  width: 320px;
  margin: 0 auto;

}

.logo {
  display: block;
  width: 75px;
  height: 20px;
}

.logo:hover {

}

@media (min-width: @tablet-width) {
  .site-header {
    margin: 0 auto;
  }

  .site-header__wrapper {

  }

  .site-header__logo {
    min-height: 109px;
    padding-top: 27px;
    width: @tablet-width;
    margin: 0 auto;
  }

  .logo {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .site-header {
    min-height: 91px;
    background-color: rgba(40, 54, 69, 0.3);
  }

  .site-header__wrapper {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 16px;
  }

  .site-header__logo {
    padding: 0;
    padding-top: 10px;
    min-height: 69px;
  }

  .logo {
    width: 147px;
    height: 66px;
    flex-shrink: 0;
  }

  .site-header__toggle {
    display: none;
  }
}
