.site-list {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-list__item {
  box-shadow: 0 1px 0 0 #000000,
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  padding: 20px;
}

.site-list__link {
  color: @bc-light;
  margin: 0 auto;
}

.site-list__link:hover {
  color: @cc-pink;
}

.site-list__link:active {
  opacity: 0.3;
}

@media (max-width:@tablet-before) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .site-list__item {
    display: flex;
  }

}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    text-transform: none;
    min-width: 621px;
    align-items: center;
  }

  .site-list__item {
    box-shadow: none;
    padding: 0;

  }


}
