.social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
}

.social__item {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid 3px #e9ebec;
  border-radius: 50%;

  margin: 7px;
}

.social__link::before {
  position: absolute;
  content: "";
  background-position: 43% 43%;
  background-repeat: no-repeat;
  width: 53px;
  height: 50px;
  top: 0;
  left: 0;
}

.social__item:hover {
  border: solid 3px @bc-dark;
}

.social__link--twitter::before {
  background-image: url("../../img/icon-twitter.svg");
}

.social__link--facebook::before {
  background-image: url("../../img/icon-facebook.svg");
}

.social__link--youtube::before {
  background-image: url("../../img/icon-youtube.svg");
}

@media (min-width: @tablet-width) {
  .social__item {
    margin: 0;
    margin-right: 16px;
  }

}
