.tariff {
  min-height: 393px;
}

.tariff__wrapper {
  overflow: hidden;
}

.tariff__list {
  border-collapse: collapse;
}

.tariff__title {
  padding: 23px;

  color: @bc-light;
  font-weight: 700;
  text-transform: uppercase;

  border: solid 2px @bc-dark;
  background-color: @bc-dark;
}

.tariff__price {
  font-size: 24px;
  font-weight: 300;
}

.tariff__value {
  padding: 22px 124px 23px 22px;

  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;

  border: solid 2px #e5e5e5;
}

@media (min-width: @tablet-width) {
  .tariff {
    padding-top: 0;
    min-height: 370px;
  }

  .tariff__wrapper {
    overflow: visible;
  }

  .tariff__list {
    width: 500px;
  }

  .tariff__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariff {
    min-height: 466px;
    padding-top: 79px;
  }

  .tariff__list {
    margin: 0 auto;
    width: 750px;
  }
}
