.tariff__title {
  color: @bc-light;
  font-weight: 700;
  text-transform: uppercase;

  border: solid 2px @bc-dark;
  background-color: @bc-dark;
}

.tariff__price {
  font-size: 24px;
  font-weight: 300;
}
