.tariff {
  min-height: 397px;
  background: @bg-lightgrey;
  position: relative;
  padding-top: 100px;
}

.tariff__title--hit {
  position: relative;
}

.tariff__title--hit::before {
  content: "";
  position: absolute;
  top: -21px;
  left: -37px;
  width: 104px;
  height: 61px;
  transform: rotate(-45deg);
  background-color: transparent;
  border-style: solid;
  border-width: 27px;
  border-color: transparent transparent #d22856;
}

.tariff__title--hit::after {
  content: "ХИТ";
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(-45deg);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: @bc-light;
}

.tariff__wrapper {
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 26px;
}

.tariff__list {
  border-collapse: collapse;
  margin-left: -535px;
}

.tariff__title {
  font-size: 18px;
  line-height: 30px;
  padding: 16px;

  color: @bc-light;
  font-weight: 700;
  text-transform: uppercase;

  border: solid 2px @bc-dark;
  border-right-color: @bc-light;
  border-left-color: @bc-light;
  background-color: @bc-dark;
}

.tariff__price {
  font-size: 24px;
  font-weight: 300;
}

.tariff__value {
  padding: 10px 17px 10px 21px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;
  min-width: 278px;
  border: solid 2px #e5e5e5;
  background-color: @bc-light;
}

.tariff__value-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tariff__toggles {
  margin-top: 23px;
}

.tariff::after {
  content: "";
  position: absolute;
  background: url("../../img/bg-triangle-white.svg") no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 43px;
  right: 0;
  top: 0;
  z-index: 0;
}


@media (min-width: @tablet-width) {
  .tariff {
    padding-top: 100px;
    min-height: 316px;
  }

  .tariff::after {
    height: 72px;
  }

  .tariff__title {
    font-size: 16px;
    line-height: 30px;
    min-width: 155px;
    padding: 10px 7px 4px 10px;
  }

  .tariff__title--hit::before {
    top: -27px;
    left: -36px;
    width: 85px;
    height: 65px;
  }

  .tariff__title--hit::after {
    top: 2px;
    left: 5px;
  }

  .tariff__wrapper {
    overflow: visible;
    width: auto;
  }

  .tariff__list {
    width: 500px;
    margin: 0 auto;
  }

  .tariff__toggles {
    display: none;
  }

  .tariff__value {
    font-size: 0;
    line-height: 0;
    min-height: 45px;
    padding: 2px 17px 4px 21px;
    min-width: auto;
  }

  .tariff__value-wrapper {
    justify-content: center;
  }

  .tariff__value svg {
    margin-left: 0;
  }

  .tariff__item {
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
    padding-right: 23px;
    padding-left: 16px;
  }

  .tariff__price {
    font-size: 18px;
    line-height: 30px;
  }

  .tariff__comments,
  .tariff__smile,
  .tariff__filter {
    min-height: 45px;
  }
}

@media (min-width: @desktop-width) {
  .tariff {
    min-height: 466px;
    padding-top: 93px;
  }

  .tariff__wrapper {
    padding-bottom: 91px;
  }

  .tariff__list {
    margin: 0 auto;
    width: 750px;
  }

  .tariff__title {
    padding: 14px 12px 18px 12px;
    min-width: 236px;
    font-size: 18px;
  }

  .tariff__item {
    min-height: 59px;
    font-size: 18px;
    line-height: 30px;
  }

  .tariff__value {
    padding: 11px 66px 9px 21px;
  }

  .tariff__value svg {
    margin-left: 46px;
  }

  .tariff__title--hit::before {
    top: -22px;
    left: -40px;
    width: 101px;
    height: 65px;
  }

  .tariff__title--hit::after {
    top: 12px;
    left: 8px;
  }

  .tariff__price {
    font-size: 24px;
  }

  .tariff::after {
    height: 126px;
  }
}
